/* Google Font CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
}


/* Custom Scroll Bar CSS */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}


/* navbar styling */

nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
    background: #4070f4;
    padding: 13px 0;
}

nav .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .logo a {
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
}

nav.sticky .navbar .logo a {
    color: #fff;
}

nav .navbar .menu {
    display: flex;
    position: relative;
}

nav .navbar .menu li {
    list-style: none;
    margin: 0 8px;
}

.navbar .menu a {
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    padding: 6px 0;
    transition: all 0.4s ease;
}

.navbar .menu a:hover {
    color: #4070f4;
}

nav.sticky .menu a {
    color: #FFF;
}

nav.sticky .menu a:hover {
    color: #0E2431;
}

.navbar .media-icons a {
    color: #4070f4;
    font-size: 18px;
    margin: 0 6px;
}

nav.sticky .media-icons a {
    color: #FFF;
}


/* Side Navigation Menu Button CSS */

nav .menu-btn,
.navbar .menu .cancel-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

nav .menu-btn {
    color: #4070f4;
}

nav.sticky .menu-btn {
    color: #FFF;
}

.navbar .menu .menu-btn {
    color: #fff;
}


/* Common Styling for all Sections */

section {
    padding-top: 40px;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
}

section .button {
    margin: 16px 0;
}

section .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .button button:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}


/* Home Section Styling */

.home .home-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    margin: 50px;
}

.home .home-details .left {
    width: 55%;
}

.home-details .left p {
    text-align: justify;
    color: #0E2431;
}

.home .home-details .left .text {
    font-size: 60px;
    margin: 5px 0;
    font-weight: 500;
}

.home .right img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid black;
}


/* My Skills CSS */

.skills-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.skill-card-row {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.skill-card {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
}

.skill-card img {
    width: 100%;
    height: 100%;
}

.skill-card h2 {
    text-align: center;
    white-space: nowrap;
}


/* Footer CSS */

footer {
    background: #4070f4;
    padding: 5px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer .text span {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

footer .text span a {
    font-weight: 500;
    color: #FFF;
}

footer .text span a:hover {
    text-decoration: underline;
}


/* Scroll TO Top Button CSS */

.scroll-button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #4070f4;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}


/* Responsive Media Query */

@media (max-width: 1190px) {
    section .content {
        width: 85%;
    }
}

@media (max-width: 1000px) {
    .home .home-details {
        justify-content: center;
        flex-direction: column;
    }
    .home .home-details .left {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .home-details .right {
        width: 90%;
        margin: 40px 0;
    }
}

@media (max-width: 900px) {
    .home .right img {
        height: 350px;
        width: 350px;
        border: 2px solid black;
    }
}

@media (max-width: 750px) {
    nav .navbar {
        width: 90%;
    }
    nav .navbar .menu {
        position: fixed;
        left: -100%;
        top: 0;
        background: #0E2431;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
    }
    .navbar.active .menu {
        left: 0;
    }
    nav .navbar .menu a {
        font-size: 23px;
        display: block;
        color: #fff;
        margin: 10px 0;
    }
    nav.sticky .menu a:hover {
        color: #4070f4;
    }
    nav .navbar .media-icons {
        display: none;
    }
    nav .menu-btn,
    .navbar .menu .cancel-btn {
        display: block;
    }
}

@media (max-width: 500px) {
    .skills-details .boxes .per {
        font-size: 50px;
        color: #4070f4;
    }
    .about .about-details .right img {
        max-width: 100%;
        height: auto;
    }
    .about .about-details {
        padding: 10px;
        margin: 10px;
    }
}